<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Superhero Details</title>
</head>
<body>
    <h1>Details Page</h1>
    <br>
    <h2>
        {{single_hero.name}}'s Info: <br>
        ID: {{single_hero.id}}   <br>
        Alter Ego: {{single_hero.alter_ego}} <br>
        Primary Ability: {{single_hero.primary_ability}} <br>
        Secondary Ability: {{single_hero.secondary_ability}} <br>
        Catch Phrase: {{single_hero.catch_phrase}} <br>
    </h2>
</body>
</html>